/elpa/
/url/
.session
.emacs.desktop
.projectile-bookmarks.eld.emacs
ido.last
lock
projectile.cache
recentf
smex-items
*~
*.elc
*.swp
*.dat
*.eld
*.zip
tramp
session*
\#*
.python-environments/
rake.cache
